{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="content scroll-content">
  <h1>Ram Air Turbine <b>(RAT)</b></h1>

  <p>The RAT can supply Emergency AC Power by using the Ram Air flow to drive an AC Generator.</p>

  <p>The RAT is stowed behind the RAT bay door on the lower right side of the fuselage just before the wing. When deployed it uses a 2 blade turbine (19 inch diameter) to drive a AC generator which is cooled by the same ram air flow. The output of the RAT is also 115/200 Volt, 3 phases, 400 Hz with a 15 kVA rating without any time limit. The RAT is capable to sustain this power as long as the airspeed is above 180 kts.</p>

  <p>
    <a class="lightbox-img" href="external/app/images/RAT-2_close-up.png" data-toggle="lightbox" data-title="A custom title" data-footer="A custom footer text" >
      <img src="images/rat-1.png">
    </a>
    <a class="lightbox-img" href="external/app/images/RAT-4_highlight.png" data-toggle="lightbox" data-title="A custom title" data-footer="A custom footer text" >
      <img src="images/rat-2.png">
    </a>
    <a class="lightbox-img" href="external/app/images/RAT-3.png" data-toggle="lightbox" data-title="A custom title" data-footer="A custom footer text" >
      <img src="images/rat-3.png">
    </a>
  </p>


  <hr/>

  <p>To deploy the RAT the crew manually pulls a handle on the center pedestal which mechanically releases the RAT uplock. This releases the hydraulically dampened spring force actuator to deploy the RAT. The RAT bay door will be pushed open by the RAT.</p>

  <p>To prevent accidental operation of the RAT Deployment Handle there is a safety pin that will lock the handle.</p>

  <p>Stowing of the RAT is a maintenance action.</p>

  <p>Possible ice that could freeze up on the RAT while it is stowed is prevented by an electrical heater which prevents ice formation by applying continuous heating of the RAT.</p>

  <p>
    <a class="lightbox-img" href="external/app/images/RAT-6.png" data-toggle="lightbox" data-title="A custom title" data-footer="A custom footer text" >
      <img src="images/rat-4.png">
    </a>
    <a class="lightbox-img" href="external/app/images/RAT-5.png" data-toggle="lightbox" data-title="A custom title" data-footer="A custom footer text" >
      <img src="images/rat-5.png">
    </a>
  </p>


</div>
{% endblock %}
