{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="content">
  <h1><b>ENGINE FAILURE/FIRE IN FLIGHT</b></h1>

  <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus. Prima luce, cum quibus mons aliud consensu ab eo. Curabitur est gravida et libero vitae dictum. Nec dubitamus multa iter quae et nos invenerat. et libero vitae dictum. Nec dubitamus multa iter quae et nos invenerat.et libero vitae dictum. Nec dubitamus multa iter quae et nos invenerat.</p>
  <p>
    <a class="lightbox-img" href="external/app/images/AEP/Gulfstream_G650_Flight-Deck-Flow.png" data-toggle="lightbox" data-title="Checklist" data-footer="A custom footer text" ><img src="images/engine-failure-1.png"><span>Checklist</span></a>
    <a class="lightbox-img" href="external/app/images/AEP/AEP.png" data-toggle="lightbox" data-title="Procedure" data-footer="A custom footer text"><img src="images/engine-failure-2.png"><span>Procedure</span></a>
  </p>
</div>

{% endblock %}