{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div id="terms">
        <div id="termsText">
            <h1>Software license terms and conditions</h1>
            <p>BY INSTALLING OR USING THE LICENSED SOFTWARE FROM GREYBOX SOLUTIONS INC.(“GREYBOX SOLUTIONS INC.”), THE INDIVIDUAL IF ACTING ON BEHALF OF HIMSELF OR HERSELF (“INDIVIDUAL CUSTOMER“) OR THE INDIVIDUAL WHO IS ACTING ON BEHALF OF AN EDUCATIONAL OR NONPROFIT INSTITUTION, GOVERNMENTAL AGENCY, OR OTHER (“ENTITY CUSTOMER”, THE INDIVIDUAL CUSTOMER AND ENTITIY CUSTOMER TOGETHER ARE ”CUSTOMER”) IS AGREEING TO BE BOUND BY THIS SOFTWARE LICENSE AGREEMENT (“AGREEMENT”).
            </p>
            <p>
                IF CUSTOMER DOES NOT AGREE TO THIS AGREEMENT, CUSTOMER MAY NOT INSTALL, COPY, OR USE THE LICENSED SOFTWARE.
            </p><p>
                THE “EFFECTIVE DATE” FOR THIS AGREEMENT IS THE DAY CUSTOMER INSTALLS THE SOFTWARE.
            </p><p>
                1. DEFENITIONS
            </p><p>
            “Activation Key” means, collectively, the specific Serial Number, code, and authorization for each copy of the Licensed Software issued by Greybox Solutions Inc. to Customer.
            Affiliates” or “Affiliate” means an entity, institution, or organization that controls, is controlled by, or is under common control with another entity, institution, or organization, with at least majority ownership.
            </p>
        </div>
        <form action="choose.html">
            <input type="submit" value="Accept" />
        </form>
    </div>

{% endblock %}