<!doctype html>

<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->

<head>
    <meta charset="utf-8">

    <!-- force Internet Explorer to use the latest rendering engine available -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>G650 RFP APP Demo</title>

    <!-- mobile meta (hooray!) -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

	<!-- Bootstrap -->
    <link href="bootstrap-3.3.2-dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />

    <script type='text/javascript' src='js/jquery.js'></script>
    <script type='text/javascript' src='js/libs/modernizr.custom.min.js'></script>

    <script type='text/javascript' src='js/scripts.js'></script>
    <script type='text/javascript' src='js/jquery-ui.min.js'></script>


    <!-- drop Google Analytics Here -->
    <!-- end analytics -->
	
	<style>
		html {
			height: 100%;
		}
		body {
			height: 100%
		}
		#container {
			height: 100%;
		}
		.fullheight {
			height: 100%;
		}
	</style>
	
</head>

<body class="loggedIn fullheight" itemscope itemtype="http://schema.org/WebPage">

<div id="menuLeft">
    <div id="topContainer">
        <p>G650</p>
    </div>
    <ul id="slideMenu">
        <div class="line"></div>
        <li><a href="main.html">Systems Review</a></li>
        <div class="line"></div>
        <li><a href="cockpit_training.html">Cockpit Training</a></li>
        <div class="line"></div>
        <li><a href="abnormal_emercengy_procedures.html">Abnormal/Emergency Procedures</a></li>
        <div class="line"></div>
        <li><a href="flight_training.html">Flight Training</a></li>
        <div class="line"></div>
        <li><a href="walk_around.html">Walk Around</a></li>
        <div class="line"></div>
        <li><a href="flash_cards.html">Flash Cards</a></li>
        <div class="line"></div>
        <li><a href="quick_reference_manuals.html">Quick Reference Manuals</a></li>
        <div class="line"></div>
        <li><a href="quiz.html">Quiz</a></li>
        <div class="line"></div>
        <li><a href="my_account.html">My Account</a></li>
        <div class="line"></div>
    </ul>

    <ul id="secondaryMenu">
        <li><a href="#">Help</a></li>
        <li><a href="#">Log out</a></li>
    </ul>
</div>

<header id="header">
    <div id="menuTop">
        <div id="menuIcon"><img src="images/menuIcon.png" /></div>
        <div id="closeMenu">X</div>
    </div>

    <h1 id="menuTitle">G650 RFP APP Demo</h1>
    <img id="menuLogo" src="images/cae-logo.png" />
</header>

<div id="container">